// scss

body {
	overflow: hidden;
}

$navbarheight : 60px;

.navbar > div {
	display: flex;
	> * {
		flex: 1;
	}
}

.navbar-form {
	margin: 10px 0;
}

#map {
    height: calc(100% - #{$navbarheight});
}

.navbar-nav a:hover {
	cursor: pointer;
}

.pane-wrapper {
	padding: 1em;
}

.map-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 0;
}
.map-item {
	flex: 0 0 100px;
	display: flex;
	flex-flow: column wrap;
	padding: 1em;
}

.thumbnail {
	> img {
		max-width: 150px;
	}
	> p {
		margin-bottom: 0;
	}
	& :hover {
		cursor: pointer;
	}
}

@import "temp";