// scss

body {
	overflow: hidden;
}

$navbarheight : 60px;

.navbar > div {
	display: flex;
	> * {
		flex: 1;
	}
}

.navbar-form {
	margin: 10px 0;
}

#map {
    height: calc(100% - #{$navbarheight});
}

.navbar-nav a:hover {
	cursor: pointer;
}

.dimming.open {
	opacity: 0.4;
}

.panels {
	background: #f4f4f4;
}
.pane-wrapper {
	padding: 15px;
}

.map-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 0;
}
.map-item {
	flex: 0 0 100px;
}

.thumbnail {
	& :hover {
		cursor: pointer;
	}
}

@import "temp";