
<md-toolbar>
  <h1 class="md-toolbar-tools">Les calques</h1>
</md-toolbar>
<md-content ng-controller="layerCtrl as layer" layout-padding>
 	<div ng-repeat="menu in layer.menus">
 		<md-subheader class="md-no-sticky">{{ layer.menu.title}}</md-subheader>
		<md-list class="nav nav-sidebar">
			<md-list-item ng-repeat="item in menu.items">
				<p>{{ item.title }}</p>
				<md-checkbox class="md-secondary" ng-model="item.param"></md-checkbox>
			</md-list-item>
		</md-list>
 	</div>
	<md-button ng-click="closeSidebar()">
		<i class="icon-close"></i> Fermer
	</md-button>
<md-content>