<div class="pane-wrapper">
    <p>
    	<button type="button" class="close" data-ng-click="panels.close();"><i class="icon-close"></i></button>
    </p>

    <h2 class="h4">Les fonds de cartes</h2>

	<hr>
  
    <ul class="list-unstyled map-list">
      <li ng-repeat="layer in backgroundlayers" class="map-item">           
        <a class="thumbnail"  ng-class="{'active':layer.getVisible()}" ng-click="changeLayer(layer)">
        	
          <img src="{{layer.screenshot}}" alt="" width="200" class="img-resposnive">
          {{ layer.title }}
        </a>

      </li>
    </ul>
</div>