<form ng-submit="$event.preventDefault()" ng-controller="searchCtrl as ctrl" class="navbar-form" >     
<md-autocomplete
    md-selected-item="ctrl.selectedItem"
    md-search-text="ctrl.searchText"
    md-items="item in ctrl.querySearch(ctrl.searchText)"
    md-selected-item-change="ctrl.selectedItemChange(item)"
    md-item-text="item.properties.label"
    md-min-length="3"
    placeholder="Rechercher une adresse"            
    md-menu-class="form-control">          
        <md-item-template>
              <span class="item-title">
                <md-icon md-svg-icon="assets/images/octicon-repo.svg"></md-icon>
                <span> {{item.properties.label}} </span>
              </span>
              <span class="item-metadata">
                <span class="item-metastat">
                  <strong>{{item.properties.context}}</strong>
                </span>
                <span class="item-metastat">
                  <i>{{item.properties.type}}</i>
                </span>
              </span>
      </md-item-template>
</md-autocomplete>
</form>