<!doctype html>
<html class="no-js" lang="fr" ng-app="kartApp">
  <head>
    <meta charset="utf-8">
    <title>Kartenn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <link rel="stylesheet" href="http://guidestyles.bretagne.bzh/thematiques/tourisme.css">
    <link rel="stylesheet" href="http://guidestyles.bretagne.bzh/styles/crbicon.css">

    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:css({.tmp,src}) styles/app.css -->
    
    <link rel="stylesheet" href="app/app.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body layout="column" ng-controller="AppCtrl">


      <nav class="navbar navbar-default">

        <div class="container-fluid">
          
          <a href="#" class="navbar-brand rb">Kartenn</a>
          <p class="navbar-text">Application cartographique de la Région Bretagne</p>
          
          <button ng-click="toggleSidenav('left')" class="navbar-btn btn btn-primary navbar-right">
            <i class="icon-bars"></i>
            <span class="visually-hidden">Menu</span>
          </button>

        </div>

      </nav>

      <md-sidenav class="md-sidenav-right" md-component-id="left">
        <md-subheader class="md-no-sticky">Marker select</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in menu">
          <h3> {{ item.title }} </h3>
        </md-list-item>
        <md-divider></md-divider>
          <md-divider></md-divider>
          <md-subheader>Fonds de carte</md-subheader>
          <md-item ng-repeat="layer in layers">
            <a ng-click="changeLayer(layer)">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="{{layer.screenshot}}"></ng-md-icon>
                </div>
                <div class="inset">{{layer.title}}
                </div>
              </md-item-content>
            </a>
          </md-item> 
        </md-list>
      </md-sidenav>

      <div id="map">        
      </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js({.tmp,src}) scripts/app.js -->
    <script src="app/app.js"></script>

    <!-- inject:partials -->
    <!-- angular templates will be automaticaly converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
